<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../assets/styles/main.css">
    <link rel="stylesheet" href="../assets/styles/menu.css">
    <script src="../assets/scripts/main.js"></script>
    <script src="../assets/scripts/jquery.js"></script> 
    <title>Linnu leht</title>
    <script>
        $(document).ready(function(){ 
            $.get("menu.html", function(data) {
                $("#menu").html(data);
            });
        }); 
    </script>
    
</head>    

<body>   
    
    <div class="contentArea">        
        <img src="../assets/images/taust1_lõigatud.jpg" class="mainPic">
        <div class="textArea"
            <h1>SSSSSSIIIIIISSSSSSSUUUUU </h1>
            <p>paragr<br>
                ahv</p>
        </div>
    </div>

<div id="menu"></div>
</body>

</html>