<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../assets/styles/main.css">
    <link rel="stylesheet" href="../assets/styles/menu.css">
    <script src="../assets/scripts/main.js"></script>
    <script src="../assets/scripts/jquery.js"></script> 
    <title>Linnu leht</title>
    <script>
        $(document).ready(function(){ 
            $.get("menu.html", function(data) {
                $("#menu").html(data);
            });
        }); 
    </script>
    
</head>    

<body>   
    
    <div class="contentArea">        
        <img src="../assets/images/taust1_lõigatud.jpg" class="mainPic">
	    <div class="textArea">  
            <h1>Tere tulemast linnulehele!</h1>
            <p>Meil on väga hea meel, et Sa oled siia jõudnud!
               Ühtlasi peaks ka Sul olema väga hea meel, et Sa oled siia jõudnud, sest see on üks väga tore leht. 
               Lisaks toredusele on see ka natuke hariv. Sa ilmselt oled ju näinud linna peal hallvarest küll. 
               Aga mida Sa tead tema maitseomaduste kohta? 
               Loe läbi info viie Eestis levinud linnuliigi kohta ja seejärel soorita test, et kontrollida, kuidas uued teadmised  kinnistusid! 
            </p>
	        <p>Ilusat päeva Sulle!</p>
        </div>
    </div>

<div id="menu"></div>
</body>

</html>