<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../assets/styles/main.css">
    <link rel="stylesheet" href="../assets/styles/menu.css">
    <link rel="stylesheet" href="../assets/styles/info.css">
    <script src="../assets/scripts/main.js"></script>
    <script src="../assets/scripts/jquery.js"></script> 
    <title>Linnu leht</title>
    <script>
        $(document).ready(function(){ 
            $.get("menu.html", function(data) {
                $("#menu").html(data);
            });
        }); 
    </script>
    
</head>    

<body>   
    <div class="infoContainer">
        <div class="tekst" id="info1">
        </div>
        <div class="tekst" id="info2">
        </div>
        <div class="tekst" id="info3">
        </div>
        <div class="tekst" id="info4">
        </div>
        <div class="tekst" id="info5">
            <div class="pigeon">
          <p>Põnevaid fakte varese kohta: 
            1.	Hallvareste arvukus aasta-aastalt kasvab ja paljude teiste linnalindude arvukus selle võrra väheneb.
            2.	Hallvarese üldpikkus on 47 cm. Keskmise isendi kaal on 510 grammi ja tiibade siruulatus on 98 cm. 
            3.	Hallvares on kõigesööja. Kehvemal ajal nokivad nad isegi surnuaedades küünlaid. 
            4.	Eestis on hallvareseid aastaringselt aga suvised ja talvised hallvaresed pole osaliselt needsamad. 
            5.	Hallvares on oma intelligentsuselt võrdväärne pärdikutega. Kuna aga aju on väiksem nii keha proportsioonilt kui grammkaalult, siis võib öelda, et hallvarese aju on pärdikute omast tunduvalt efektiivsem. Hallvarese nupp nokib paremini kui haki ja künnivarese oma.
            6.	Hallvarese munakurnas on 4–6 sinakasrohelist tumedate tähnidega muna. Munad on 38–42 mm pikad ja 28–32 mm laiad. 
            7.	Hallvares suudab talle ohtu kujutanud inimeste näod meelde jätta ja nende nägude uuesti nägemisel teeb hoiatushäält, et ohtu ka naabruses olevatele hallvarestele õpetada.
            8.	Lõunapoolsemates riikides tarvitavad inimesed hallvareseid isegi toiduks. Hallvares maitseb väidetavalt hästi. 
            Allikas: https://et.wikipedia.org/wiki/Hallvares
        </div>
            
        </div>
    </div>

    <div id="menu"></div>
</body>

</html>