<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../assets/styles/main.css">
    <link rel="stylesheet" href="../assets/styles/menu.css">
    <link rel="stylesheet" href="../assets/styles/info.css">
    <script src="../assets/scripts/main.js"></script>
    <script src="../assets/scripts/jquery.js"></script> 
    <title>Linnu leht</title>
    <script>
        $(document).ready(function(){ 
            $.get("menu.html", function(data) {
                $("#menu").html(data);
            });
        }); 
    </script>
    
</head>    

<body>   
    <div class="infoContainer">
        <div class="birdie-pic" id="info1">
            <div class="text-background">
                <h2>Hallvares</h2>
                
                    <ul>
                        <li>Hallvareste arvukus aasta-aastalt kasvab ja paljude teiste linnalindude arvukus selle võrra väheneb.</li>
                        <li>Hallvarese üldpikkus on 47 cm. Keskmise isendi kaal on 510 grammi ja tiibade siruulatus on 98 cm. </li>
                        <li>Hallvares on kõigesööja. Kehvemal ajal nokivad nad isegi surnuaedades küünlaid. </li>
                        <li>Eestis on hallvareseid aastaringselt aga suvised ja talvised hallvaresed pole osaliselt needsamad.</li>
                        <li>Hallvares on oma intelligentsuselt võrdväärne pärdikutega. Kuna aga aju on väiksem nii keha proportsioonilt kui grammkaalult, siis võib öelda, et hallvarese aju on pärdikute omast tunduvalt efektiivsem. Hallvarese nupp nokib paremini kui haki ja künnivarese oma. </li>
                        <li>Hallvarese munakurnas on 4–6 sinakasrohelist tumedate tähnidega muna. Munad on 38–42 mm pikad ja 28–32 mm laiad. </li>
                        <li>Hallvares suudab talle ohtu kujutanud inimeste näod meelde jätta ja nende nägude uuesti nägemisel teeb hoiatushäält, et ohtu ka naabruses olevatele hallvarestele õpetada.</li>
                        <li>Lõunapoolsemates riikides tarvitavad inimesed hallvareseid isegi toiduks. Hallvares maitseb väidetavalt hästi. </li>
                    </ul>    
                    Allikas: <a href="https://et.wikipedia.org/wiki/Hallvares" target="_blank">Vikipeedia</a>
                

            </div>
        </div>
        <div class="birdie-pic" id="info2">
            <div class="text-background">
                <h2>Naerukajakas</h2>
                
                    <ul>
                        <li>Naerukajaka pesitsusaegset arvukust hinnatakse 30 000 – 50 000 paarile, talvist arvukust 100–2000 isendile.</li>
                        <li>Naerukajakas tegutseb suuremal hulgal asulates ja prügimägedel kevadrände aegu märtsi lõpust maini.</li>
                        <li>Naerukajaka kehapikkus: 33-44 cm, tiiva siruulatus: 94-105 cm, mass: 200-350 g, eluiga: 25-30 aastat.</li>
                        <li>Naerukajaka toit on peamiselt loomne - putukad, nende vastsed, teod, vihmaussid, hiired, konnad, vähem sööb ka kalasid (enamasti pinnalähedasest veest haigeid). Sügisel tarvitavad ka puuseeemneid, tammetõrusid ja kirsse.</li>
                    </ul>
                
                    Allikad: <a href="https://et.wikipedia.org/wiki/Naerukajakas" target="-blank">Vikipeedia</a>
                    ja <a href="http://vana.loodusajakiri.ee/eesti_loodus/index.php?artikkel=940" target="_blank">Eesti Loodus</a>
                
            </div>
        </div>
        <div class="birdie-pic" id="info3">
            <div class="text-background">
                <h2>Rasvatihane</h2>
                
                    <ul>
                        <li>Eestis on rasvatihane üldlevinud ja arvukas haudelind, tema pesitsusaegset arvukust hinnatakse 300 000 – 400 000 paarile, talvist arvukust 0,6–1,2 miljonile isendile. </li>
                        <li>Rasvatihase pikkus on keskmiselt 15 cm ja kehamass 19 grammi. </li>
                        <li>Paks lumi ja umbes −40 kraadi mõjub rasvatihasele surmavalt.</li>
                        <li>Rasvatihane toitub putukatest, nende munadest ja vastsebirdie-pic. Talvel sööb seemneid, marju ja puuvilju; toitub ka loomakorjustel.</li>
                        <li>Rasvatihase eluiga küündib vähemalt 15 aastani aga keskmine eluiga on siiski kõigest 3 aastat. </li>
                        <li>On kindlaks tehtud, et need isalinnud, kelle laulul on rohkem variatsioone, on pesitsemisel edukamad kui teised linnud. </li>
                        <li>Üks kõige pikaajalisemaid pidevaid rasvatihase uurimistöid alustati 1930. aastal Wytham Woodis, Inglismaal Oxfordi Ülikooli poolt. Uurimistöö kestab siiani.</li>
                    </ul>
                    Allikad: <a href="https://et.wikipedia.org/wiki/Rasvatihane" target="_blank">Vikipeedia</a> ja <a href="https://rodoaed.ee/rasvatihane-10-ponevat-fakti-rasvatihase-kohta/" target="_blank">Rodoaed</a>
                

            </div>
        </div>
        <div class="birdie-pic" id="info4">
            <div class="text-background">
                <h2>Sinikael-part</h2>
                
                    <ul>
                        <li>Sinikael-pardi kõrgeimaks lennukõrguseks on tänapäevaste radaritega mõõdetud 6400 m.</li>
                        <li>Vabas looduses elavad isased on keskmiselt 50–63 cm ja emased 20–47 cm pikkused (kaal vastavalt 800 g kuni 1,4 ja 2 kg).</li>
                        <li>Sinikael-partidel asub saba piirkonnas kahesagaraline päranipunääre, mis eritab õlijat sekreeti, mille koostis ja kogus ning muud tuvastatavad omadused on igal linnul ja igal ajal erinevad.</li>
                        <li>Sinikael-partidel hambaid ei ole. Noka siseküljed on varustatud aukudega, liigutades keelt kiirelt üles-alla tõmmatakse söök sisse ning "kliistatakse" alla. Pardid neelavad ka peenikesi kive ja muud anorgaanilist materjali.</li>
                        <li>Sinikael-part toitub ainult madalas vees, hankides toitu üksnes nii sügavalt, kui vette küünitatud pea ja kael ulatuvad.</li>
                        <li>Uuringud näitavad, et lindude seksuaalne enesereklaam "laulu" kaudu on väga tugev seksuaalse käitumise modelleerija ning emaslinnud on varmamad paarituma isaslindudega, kes on riskialtimad.</li>
                    </ul>
                    Allikas: <a href="https://et.wikipedia.org/wiki/Sinikael-part" target="_blank">Vikipeedia</a>
                
               </div> 
            </div>
        <div class="birdie-pic" id="info5">
            <div class="text-background">
                <h2>Kodutuvi</h2>
                
                    <ul>
                        <li>Kodutuvi silmad on tumepunased, jalad helepunased.</li>
                        <li>Kodutuvi pesitsusaegset arvukust hinnatakse 40 000 – 80 000 paarile, talvist arvukust 80 000 – 200 000 isendile</li>
                        <li>Kodutuvid oskavad eristada suvalisi tähejadasid ja kuni neljatähelisi sõnu.</li>
                        <li>Kodutuvi pesitseb mitu korda kevade ja suve jooksul, mõnikord sügiselgi.</li>
                        <li>Tuvid toituvad enamjaolt teraviljast, kuid söövad ka lehti, marju ja mugulaid.</li>
                        <li>Tuvidel on elu jooksul vaid üks paariline. Nad pesitsevad paarikaupa ja kindlal maa-alal (territoriaalselt)</li>
                    </ul>
                
                    Allikad: <a href="https://et.wikipedia.org/wiki/Kodutuvi" target="_blank">Vikipeedia</a>
                    ja veel <a href="https://et.wikipedia.org/wiki/Tuvilased" target="_blank">Vikipeediat</a>
                
            </div>
        </div>
    </div>

    <div id="menu"></div>
</body>

</html>