<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Linnu leht</title>
</head>
<body>
<div class="menuContainer">
    <div class="menuElement">
        <a href="index.html">
            <img src="../assets/images/birdEx1.jfif" class="menuImage" alt="menu element">
            <div class="menuText">KODU</div>
        </a>
    </div>
    <br>
    <div class="menuElement">
        <a href="info.html">
            <img src="../assets/images/birdEx2.jfif" class="menuImage" alt="menu element">
            <div class="menuText">ÕPI</div>
        </a>
    </div>
    <br>
    <div class="menuElement">
        <a href="test.html">
            <img src="../assets/images/birdEx3.jfif" class="menuImage" alt="menu element">
            <div class="menuText">HARJUTA</div>
        </a>
    </div>
</div>
</body>
</html>