
<div class="menuContainer">
    <div class="menuElement">
        <a href="index.html">
            <img src="../assets/images/birdEx1.jfif" width=200 class="menuImage">
            <div class="menuText">HOME</div>
        </a>
    </div>
    <br>
    <div class="menuElement">
        <a href="index.html">
            <img src="../assets/images/birdEx2.jfif" width=200 class="menuImage">
            <div class="menuText">LEARN</div>
        </a>
    </div>
    <br>
    <div class="menuElement">
        <a href="index.html">
            <img src="../assets/images/birdEx3.jfif" width=200 class="menuImage">
            <div class="menuText">TEST</div>
        </a>
    </div>
</div>