<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="../assets/styles/main.css">
<link rel="stylesheet" href="../assets/styles/menu.css">
<link rel="stylesheet" href="../assets/styles/test.css">
<script src="../assets/scripts/main.js"></script>
<script src="../assets/scripts/jquery.js"></script>

<title>Linnu leht</title>
<script>
    $(document).ready(function(){ 
        $.get("menu.html", function(data) {
            $("#menu").html(data);
        });
    }); 
</script>
</head>
<body>
    <div class="container testContainer">
        <h2>Mis lind see on?</h2>
        <div class="center">
            <input type="text" placeholder="Sisesta vastus" id="testInput">
            <input type="button" value="Vasta" id="testButton">
        </div>
        <p id="feedback"></p>
        <div class="testArea">
            <img src="../assets/images/placeholder.png" class="testImage" id="testImage">
        </div>
        
    </div>
    <div id="menu"></div>


    <script src="../assets/scripts/test.js"></script> 
</body>
</html>