<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="../assets/styles/main.css">
<link rel="stylesheet" href="../assets/styles/test.css">
<script src="../scripts/script.js"></script>
<title>Linnu leht</title>
</head>
<body>
    <div class="container">
        <h2>Pealkiri</h2>
        <div>
            <img src="../assets/images/placeholder.png" class="image">
        </div>
        <form class="center">
            <input type="text" placeholder="Sisesta">
        </form>
    </div>
    <div class="menuContainer">
        <div class="menuElement">
            <a href="index.html">
                <img src="../assets/images/birdEx1.jfif" width=200 class="menuImage">
                <div class="menuText">HOME</div>
            </a>
        </div>
        <br>
        <div class="menuElement">
            <a href="index.html">
                <img src="../assets/images/birdEx2.jfif" width=200 class="menuImage">
                <div class="menuText">LEARN</div>
            </a>
        </div>
        <br>
        <div class="menuElement">
            <a href="index.html">
                <img src="../assets/images/birdEx3.jfif" width=200 class="menuImage">
                <div class="menuText">TEST</div>
            </a>
        </div>
    </div>
</body>

</html>