.wallImage {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.infoContainer {
    position: absolute;
    opacity: 1;
    width:70%;
    margin:0 15% 25% 5%;
}

#info1 {
    background: url("../images/hallvares_info.jpg") no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.crow {
    padding: 5% 0% 25% 50%;
}

#info2 {
    background: url("../images/naerukajakas_info.jpg") no-repeat center center scroll/*fixed*/;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.seagull {
    padding: 5% 0% 25% 50%;
    }

#info3 {
    background: url("../images/rasvatihane_info.jpg") no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.tit {
    padding: 5% 0% 25% 50%;   
}

#info4 {
    background: url("../images/sinikael-part_info.jpg") no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.duck {
    padding: 5% 0% 25% 10%;   
}

#info5 {
    background: url("../images/tuvi_info.jpg") no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.pigeon {
    padding: 5% 0% 25% 50%;   
}

.text-background {
    background-color: lightgoldenrodyellow;
    text-align: left;
    padding: 5%;
    opacity: 0.6;
}