html, body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    background-image: url("../images/taust3.jpg");
    background-attachment:fixed;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
body::-webkit-scrollbar {
    display: none;
}

background img {
    position: absolute; 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    margin: auto; 
    min-width: 50%;
    min-height: 50%;
  }
 
.mainPic {
    width: 100%;
    height: auto;
    margin:0;
}
.contentArea {
    position: absolute;
    background-color:lightgoldenrodyellow;
    opacity:0.99;
    padding:1%;
    width:70%;
    margin:0 15% 25% 5%;

}

.container {
    margin: 5% 15% 25% 5%;
    height: 100%;
    width: 70%;
    text-align: center;
}

.image {
    width: 80%;
    height: 20%;
    margin: 5%;
}

.center {
    margin: 5%;
    text-align: center;
}
