html, body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    background-image: url("../images/taust3.jpg");
    background-attachment:fixed;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
body::-webkit-scrollbar {
    display: none;
}

background img {
    position: absolute; 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    margin: auto; 
    min-width: 50%;
    min-height: 50%;
  }
 
.mainPic {
    width: 100%;
    height: auto;
}

.contentArea {
    position: absolute;
    background-color:lightgoldenrodyellow;
    opacity:0.99;
    width:77%;
    height: 100vh;
    max-height: 100vh;
    margin:3% 5% 25% 5%;
    
}


.textArea {
    padding: 5%;
}
.center {
    margin: 2%;
    text-align: center;

}
