.menuContainer {
    position: fixed;
    right: 0;
    z-index: 50;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    height: 100vh;
    float: right;
    perspective: 1000px;
}
.menuElement {
    position: relative;
}
.menuImage {
    opacity: 1;
    transition: opacity 0.5s;
    width: auto;
    height: 100%;
    max-height: 33vh;
}
.menuElement:hover .menuImage {
    opacity: 0.3;
}
.menuElement:hover .menuText {
    display: block;
}
.menuText {
    position: absolute;
    bottom: 40%;
    right: 40%;
    color: black;
    opacity: 1;
    font-size: xx-large;
    font-family: monospace;
    font-weight: bold;
    display: none;
}