html, body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    overflow: hidden;
}

.container {
    margin: auto;
    margin-top: 5%;
    height: 100%;
    width: 70%;
    text-align: center;

}

.menuContainer {
    position: fixed;
    left: 0;
    z-index: 50;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    height: 100vh;
    float: right;
    perspective: 1000px;
}
.image {
    width: 80%;
    height: 20%;
    margin: 5%;
}

.center {
    margin: 5%;
    text-align: center;
}

.menuElement {
    position: relative;
}
.menuImage {
    opacity: 1;
    transition: opacity 0.5s;
}
.menuElement:hover .menuImage {
    opacity: 0.3;
}
.menuElement:hover .menuText {
    display: block;
}
.menuText {
    position: absolute;
    bottom: 40%;
    right:40%;
    color: black;
    opacity: 1;
    font-size:xx-large;
    font-family: monospace;
    font-weight: bold;
    display: none;
}